@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


$blue: #2B4EFF;
$white: #FFF;
$orange: #FFB352;
$lightgrey: #EDEEF3;
$darkblue: #0E1133;
$grey: #6D6E75;
$purple: #B128FF;
$aqua: #0FA0DD;
$green: #30A820;
$pink: #F2277E;
$darkorange: #FA7919;
$face: #285DA1;
$twit: #03A9F4;
$pint: #D2173F;
$star: #FF9415;